# R-related project files
**.Rproj.user
**.Rhistory
**.RData 
**.Ruserdata
**.Rapp.history
**.RDataTmp

#Python
**.spyproject/*

# Windows files
desktop.ini
**desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# IDE project files
*.sublime-workspace

# Version control system folders
.hg/* 
.svn/

# Build / temp folders and files
/build/*
/tmp/* 
/docs/*
*.tar.gz
*.Rcheck/

# R output files 
vignettes/*.html
vignettes/*.pdf
*.utf8.md 
*.knit.md
*_cache/
**_cache/ 
/cache/
**_cache

# OAuth2 token
.httr-oauth

# Shiny token
rsconnect/

# Exclude specific files 
_CONS_C1_df_dup.csv 
_CONS_C1_df_dup_ENE_2020.csv
'~$reunion con Maureen.xlsx' 
'reunion con Maureen.xlsx'
# ... (add other specific files)

# Enhanced exclusions
**.RData  # Cover potential .RData variants
**.dta
**.txt
**.rar 
**.rda
**.sters
**.rds
**.gz.parquet

#Exclude google docs
**.gdoc
*.gdoc
**.gslides
*.gslides
Reuniones nDP 2023-2024*
*.gsheet
**.gsheet
mariel_clus_cor*

# Exclude folders
dedup/*
_outputs/* 
renv/* 
_bibs/*
__prueba/*
___prueba/*
___datos_minsal/* 
_lit_rev/*
*_files/*
# Other sensitive data
*ssh*
*id_rsa_*

#Ignore files that start with ~
~*
# Comment: Exclude MINSAL data 
# DatosDefuncionesEncrip.csv
.Rproj.user

# IG
_ig_borquez/*
